body {
  background-color: bisque;
}

.titulo {
  color: coral;
  font-size: 6ch;
}

.parrafo {
  color: black;
  font-size: x-large;
}
.parrafo-grupo {
  color: darkslategray;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  width: 1000px;
}
thead {
  background-color: black;
}

.subtitulo {
  color: dimgrey;
  front-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 1000px;
}
 
.reproductor {
  width: 400px;
      background-color: #f0f0f0;
      border: 2px solid #444;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
    }

    button {
      padding: 5px 15px;
      font-size: 16px;
    }