body {
  background-color: bisque;
}

.titulo {
  color: coral;
  font-size: 6ch;
}

.parrafo {
  color: black;
  font-size: x-large;
}
.parrafo-grupo {
  color: darkslategray;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  width: 1000px;
}
thead {
  background-color: black;
}

.subtitulo {
  color: dimgrey;
  front-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 1000px;
}
 